<!DOCTYPE html>
<html lang="en">
<%- include('../partials/head.ejs') %>
<body>
    
    <%- include('../partials/nav.ejs') %>

    <div class="blogs content">
        <h1>All Blogs</h1>

        <% if (blogs.length > 0) { %>
            <% blogs.map(blog => { %>
                <a class="single" href="/blogs/<%= blog._id %>">
                    <h3 class="title"><%= blog.title %></h3>
                    <p class="snipppet"><%= blog.snippet %></p>
                </a>
           <% }) %>
        <% } else { %>
            <p>There are blogs to display...</p>
        <% } %> 

    </div>

    <!-- Partials are reusable template components in a templating engine, where a template can be broken down into smaller, modular pieces -->
    <%- include('../partials/footer.ejs') %> 

</body>
</html>

<!-- ejs allows you to generate dynamic HTML markup using simple and familiar syntax, used for server-side rendering -->