<!DOCTYPE html>
<html lang="en">
<%- include('./partials/head.ejs') %>
<body>
    
    <%- include('./partials/nav.ejs') %>

    <div class="blogs content">
        <h1>All Blogs</h1>

        <% if (blogs.length > 0) { %>
            <% blogs.map(blog => { %>

                <h3 class="title"><%= blog.title %></h3>
                <p class="snipppet"><%= blog.snippet %></p>

           <% }) %>
        <% } else { %>
            <p>There are blogs to display...</p>
        <% } %> 

    </div>

    <%- include('./partials/footer.ejs') %>

</body>
</html>

<!-- ejs allows you to generate dynamic HTML markup using simple and familiar syntax, used for server-side rendering -->